body{
    max-width: 1270px;
    background-color: azure;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgreen;
    padding: 20px;
    font-size: 1.25em;
    border-radius: 25px;
}
.hero-container button{
    background-color: aqua;
    padding: 10px 20px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
