body{
    max-width: 1170px;
    background-color: aliceblue;
    margin: 0 auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 3px solid grey ;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 15px gray;
}
.card:hover{
    background-color: pink;
}
.card h3{
     font-size: 1.25em;
     font-weight: 700;
}
.card img{ 
    width: 100%;
    border-radius: 10px;
}
.card button{
    background-color: aqua;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}